.range {
  @apply rounded-box overflow-hidden bg-transparent;
  appearance: none;
  --ice-range-shdw: var(--ice-base-content);
}
.range:focus-visible::-webkit-slider-thumb {
  --ice-focus-shadow: 0 0 0 6px rgba(var(--ice-base-400)) inset, 0 0 0 2rem rgba(var(--ice-range-shdw)) inset;
}
.range:focus-visible::-moz-range-thumb {
  --ice-focus-shadow: 0 0 0 6px rgba(var(--ice-base-400)) inset, 0 0 0 2rem rgba(var(--ice-range-shdw)) inset;
}
.range::-webkit-slider-runnable-track {
  @apply rounded-box bg-base-content/10 h-2 w-full;
}
.range::-moz-range-track {
  @apply rounded-box bg-base-content/10 h-2 w-full;
}
.range::-webkit-slider-thumb {
  @apply rounded-box bg-base-400 relative h-6 w-6 border-none;
  appearance: none;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(var(--ice-range-shdw));
  --ice-filler-size: 100rem;
  --ice-filler-offset: 0.6rem;
  box-shadow: 0 0 0 3px rgba(var(--ice-range-shdw)) inset, var(--ice-focus-shadow, 0 0), calc(var(--ice-filler-size) * -1 - var(--ice-filler-offset)) 0 0 var(--ice-filler-size);
}
.range::-moz-range-thumb {
  @apply rounded-box bg-base-400 relative h-6 w-6 border-none;
  top: 50%;
  color: rgba(var(--ice-range-shdw));
  --ice-filler-size: 100rem;
  --ice-filler-offset: 0.5rem;
  box-shadow: 0 0 0 3px rgba(var(--ice-range-shdw)) inset, var(--ice-focus-shadow, 0 0), calc(var(--ice-filler-size) * -1 - var(--ice-filler-offset)) 0 0 var(--ice-filler-size);
}
.range-primary {
  --ice-range-shdw: var(--ice-primary);
}
.range-success {
  --ice-range-shdw: var(--ice-success);
}
.range-warning {
  --ice-range-shdw: var(--ice-warning);
}
.range-error {
  --ice-range-shdw: var(--ice-error);
}
.range-neutral {
  --ice-range-shdw: var(--ice-neutral);
}