.toggle-xs {
  height: 1rem;
  width: 1.5rem;
  --ice-handleoffset: 0.5rem
}
.toggle-sm {
  height: 1.25rem;
  width: 2rem;
  --ice-handleoffset: 0.75rem
}
.toggle-md {
  height: 1.5rem;
  width: 3rem;
  --ice-handleoffset: 1.5rem
}
.toggle-lg {
  height: 2rem;
  width: 4rem;
  --ice-handleoffset: 2rem
}