.alert {
    border-radius: var(--ice-rounded-box, 1rem);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-base-400) / var(--tw-border-opacity));
    padding: 1rem;
    --tw-text-opacity: 1;
    color: rgba(var(--ice-base-content) / var(--tw-text-opacity))
}
.alert-primary {
    border-color: rgba(var(--ice-primary) / 0.2);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-primary) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-primary-content) / var(--tw-text-opacity))
}
.alert-success {
    border-color: rgba(var(--ice-success) / 0.2);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-success) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-success-content) / var(--tw-text-opacity))
}
.alert-warning {
    border-color: rgba(var(--ice-warning) / 0.2);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-warning) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-warning-content) / var(--tw-text-opacity))
}
.alert-error {
    border-color: rgba(var(--ice-error) / 0.2);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-error) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-error-content) / var(--tw-text-opacity))
}
.alert-neutral {
    border-color: rgba(var(--ice-neutral) / 0.2);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity))
}