.no-animation {
  --ice-animation-btn: 0s;
  --ice-animation-input: 0s;
  --ice-skeleton-duration: 0s;
}

.tab-border-none {
  --ice-tab-border: 0px;
}

.tab-border {
  --ice-tab-border: 1px;
}

.tab-border-2 {
  --ice-tab-border: 2px;
}

.tab-border-3 {
  --ice-tab-border: 3px;
}

.tab-rounded-none {
  --ice-tab-radius: 0;
}

.tab-rounded-lg {
  --ice-tab-radius: 0.5rem;
}