.table {
    border-radius: var(--ice-rounded-box, 1rem);
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.25rem
}
.table :where(th,td) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    vertical-align: middle
}
.table tr.active,.table tr.active:nth-child(even),.table-zebra tbody tr:nth-child(even) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-200) / var(--tw-bg-opacity))
}
.table tr.hover:hover,.table tr.hover:nth-child(even):hover {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-200) / var(--tw-bg-opacity))
}
.table-zebra tr.active,.table-zebra tr.active:nth-child(even),.table-zebra-zebra tbody tr:nth-child(even) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-300) / var(--tw-bg-opacity))
}
.table-zebra tr.hover:hover,.table-zebra tr.hover:nth-child(even):hover {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-300) / var(--tw-bg-opacity))
}
.table :where(thead,tbody) :where(tr:not(:last-child)),.table :where(thead,tbody) :where(tr:first-child:last-child) {
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-bottom-color: rgba(var(--ice-base-200) / var(--tw-border-opacity))
}
.table :where(thead,tfoot) {
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    color: rgba(var(--ice-base-content) / 0.6)
}