.chat-bubble {
  border-radius: var(--ice-rounded-box, 1rem);
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
  min-height: 2.75rem;
  min-width: 2.75rem;
}
.chat-bubble-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
}
.chat-bubble-success {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
}
.chat-bubble-warning {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
}
.chat-bubble-error {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
}
.chat-bubble-neutral {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
}
.chat-start .chat-bubble {
  border-bottom-left-radius: 0px;
}
.chat-start .chat-bubble:before {
  left: -0.749rem;
}
.chat-end .chat-bubble {
  border-bottom-right-radius: 0px;
}
.chat-end .chat-bubble:before {
  left: 99.9%;
}