.badge {
    border-radius: var(--ice-rounded-badge, 1.9rem);
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-base-400) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-100) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-base-content) / var(--tw-text-opacity))
}
.badge-primary {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-primary) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-primary) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-primary-content) / var(--tw-text-opacity))
}
.badge-success {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-success) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-success) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-success-content) / var(--tw-text-opacity))
}
.badge-warning {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-warning) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-warning) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-warning-content) / var(--tw-text-opacity))
}
.badge-error {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-error) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-error) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-error-content) / var(--tw-text-opacity))
}
.badge-neutral {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-neutral) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity))
}
.badge-ghost {
    --tw-border-opacity: 1;
    border-color: rgba(var(--ice-base-400) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(var(--ice-base-400) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--ice-base-content) / var(--tw-text-opacity))
}
.badge-outline {
    border-color: currentColor;
    --tw-border-opacity: 0.5;
    background-color: transparent;
    color: currentColor
}
.badge-outline.badge-primary {
    --tw-text-opacity: 1;
    color: rgba(var(--ice-primary) / var(--tw-text-opacity))
}
.badge-outline.badge-success {
    --tw-text-opacity: 1;
    color: rgba(var(--ice-success) / var(--tw-text-opacity))
}
.badge-outline.badge-warning {
    --tw-text-opacity: 1;
    color: rgba(var(--ice-warning) / var(--tw-text-opacity))
}
.badge-outline.badge-error {
    --tw-text-opacity: 1;
    color: rgba(var(--ice-error) / var(--tw-text-opacity))
}
.badge-outline.badge-neutral {
    --tw-text-opacity: 1;
    color: rgba(var(--ice-neutral) / var(--tw-text-opacity))
}