.btn {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-400) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-400) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-content) / var(--tw-text-opacity));
  text-decoration-line: none;
  outline-color: rgba(var(--ice-base-400) / 1);
  border-width: var(--ice-border-btn, 1px);
}
.btn:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}
.btn.btn-focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}
.btn.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-300) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-300) / var(--tw-bg-opacity));
}
.btn:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-300) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-300) / var(--tw-bg-opacity));
}
.btn:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-500) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-500) / var(--tw-bg-opacity));
}
.btn.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-500) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-500) / var(--tw-bg-opacity));
}
.btn-primary {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
  outline-color: rgba(var(--ice-primary) / 1);
}
.btn-primary.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-hover) / var(--tw-bg-opacity));
}
.btn-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-hover) / var(--tw-bg-opacity));
}
.btn-primary:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-active) / var(--tw-bg-opacity));
}
.btn-primary.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-active) / var(--tw-bg-opacity));
}
.btn-success {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
  outline-color: rgba(var(--ice-success) / 1);
}
.btn-success.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-hover) / var(--tw-bg-opacity));
}
.btn-success:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-hover) / var(--tw-bg-opacity));
}
.btn-success:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-active) / var(--tw-bg-opacity));
}
.btn-success.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-active) / var(--tw-bg-opacity));
}
.btn-warning {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
  outline-color: rgba(var(--ice-warning) / 1);
}
.btn-warning.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-hover) / var(--tw-bg-opacity));
}
.btn-warning:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-hover) / var(--tw-bg-opacity));
}
.btn-warning:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-active) / var(--tw-bg-opacity));
}
.btn-warning.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-active) / var(--tw-bg-opacity));
}
.btn-error {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
  outline-color: rgba(var(--ice-error) / 1);
}
.btn-error.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-hover) / var(--tw-bg-opacity));
}
.btn-error:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-hover) / var(--tw-bg-opacity));
}
.btn-error:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-active) / var(--tw-bg-opacity));
}
.btn-error.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-active) / var(--tw-bg-opacity));
}
.btn-neutral {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
  outline-color: rgba(var(--ice-neutral) / 1);
}
.btn-neutral.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-hover) / var(--tw-bg-opacity));
}
.btn-neutral:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-hover) / var(--tw-bg-opacity));
}
.btn-neutral:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-active) / var(--tw-bg-opacity));
}
.btn-neutral.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-active) / var(--tw-bg-opacity));
}
.btn.glass {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
}
.btn.glass:active {
  --ice-glass-opacity: 25%;
  --ice-glass-border-opacity: 15%;
}
.btn.glass.btn-active {
  --ice-glass-opacity: 25%;
  --ice-glass-border-opacity: 15%;
}
.btn-ghost {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
}
.btn-ghost:active {
  --tw-border-opacity: 0;
  background-color: rgba(var(--ice-base-content) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}
.btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: rgba(var(--ice-base-content) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}
.btn-link {
  border-color: transparent;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary) / var(--tw-text-opacity));
  text-decoration-line: underline;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
}
.btn-link:active {
  border-color: transparent;
  background-color: transparent;
  text-decoration-line: underline;
}
.btn-link.btn-active {
  border-color: transparent;
  background-color: transparent;
  text-decoration-line: underline;
}
.btn-outline {
  border-color: currentColor;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-content) / var(--tw-text-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.btn-outline.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-900) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-900) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-100) / var(--tw-text-opacity));
}
.btn-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-900) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-900) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-100) / var(--tw-text-opacity));
}
.btn-outline:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-1100) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-1100) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-100) / var(--tw-text-opacity));
}
.btn-outline.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-base-1100) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-base-1100) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-base-100) / var(--tw-text-opacity));
}
.btn-outline.btn-primary {
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary) / var(--tw-text-opacity));
}
.btn-outline.btn-primary.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
}
.btn-outline.btn-primary:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
}
.btn-outline.btn-primary:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
}
.btn-outline.btn-primary.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-primary-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-primary-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-primary-content) / var(--tw-text-opacity));
}
.btn-outline.btn-success {
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success) / var(--tw-text-opacity));
}
.btn-outline.btn-success.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
}
.btn-outline.btn-success:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
}
.btn-outline.btn-success:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
}
.btn-outline.btn-success.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-success-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-success-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-success-content) / var(--tw-text-opacity));
}
.btn-outline.btn-warning {
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning) / var(--tw-text-opacity));
}
.btn-outline.btn-warning.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
}
.btn-outline.btn-warning:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
}
.btn-outline.btn-warning:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
}
.btn-outline.btn-warning.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-warning-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-warning-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-warning-content) / var(--tw-text-opacity));
}
.btn-outline.btn-error {
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error) / var(--tw-text-opacity));
}
.btn-outline.btn-error.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
}
.btn-outline.btn-error:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
}
.btn-outline.btn-error:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
}
.btn-outline.btn-error.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-error-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-error-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-error-content) / var(--tw-text-opacity));
}
.btn-outline.btn-neutral {
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral) / var(--tw-text-opacity));
}
.btn-outline.btn-neutral.btn-hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
}
.btn-outline.btn-neutral:hover {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-hover) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-hover) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
}
.btn-outline.btn-neutral:active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
}
.btn-outline.btn-neutral.btn-active {
  --tw-border-opacity: 1;
  border-color: rgba(var(--ice-neutral-active) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ice-neutral-active) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--ice-neutral-content) / var(--tw-text-opacity));
}
.btn.btn-disabled,.btn[disabled],.btn:disabled {
  --tw-border-opacity: 0;
  background-color: rgba(var(--ice-neutral) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  color: rgba(var(--ice-base-content) / var(--tw-text-opacity));
  --tw-text-opacity: 0.2;
}