.skeleton-title {

    height: 1rem;

    width: 40%
}

.skeleton-paragraph {

    height: 1rem;

    width: 100%
}

.skeleton-avatar {

    height: 2rem;

    width: 2rem;

    border-radius: 9999px
}